@use "../../../assets/sass/variables" as *;
@use "../../../assets/sass/mixins" as *;

a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition: color $transitionDuration, background-color .15s;
  border-radius: $borderRadius;
  padding: .75rem 1rem;

  span {
    margin-left: 0.5rem;
  }

  .menuitem-toggle-icon {
    margin-left: auto;
  }

  &:focus {
    @include focused-inset();
  }

  &:hover {
    background-color: var(--surface-hover);
  }

  &.router-link-exact-active {
    font-weight: 700;
    color: var(--primary-color);
  }
}
